<!DOCTYPE html>


<html xmlns="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:fragment="myhead">
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beep</title>
    <link rel="stylesheet" href="/css/sidebar.css" >
    <link rel="stylesheet" href="/css/nav.css" >
    
    


<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1306328925.js" crossorigin="anonymous"></script>
</head>

<body>


	<header th:fragment="myheader">
		<nav class="navbar navbar-expand-lg bg-dark fixed-top">
			<div class="container-fluid">
				<div class="d-flex align-items-center">
					<a class="navbar-brand" href="#"> <img
						src="https://getbootstrap.kr/docs/5.1/assets/brand/bootstrap-logo.svg"
						alt="" width="30" height="24"
						class="d-inline-block align-text-top">
					</a> <a class="nav-link text-white me-3 " href="#">팔로잉</a> <a
						class="nav-link text-white " href="#">탐색</a>
				</div>
				<button class="navbar-toggler bg-secondary" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<form class="d-flex my-2 my-lg-0 ms-auto align-items-center">
						<!-- align-items-center 추가 -->
						<input class="form-control me-2 mb-2 mb-lg-0" type="search"
							placeholder="스트리머, 게임, 영상 검색" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
								xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.9">
                                <path d="M15.8999 14.5L19.0862 17.7187"
									stroke="white" stroke-width="1.8" stroke-linecap="round"
									stroke-linejoin="round"></path>
                                <circle cx="11.4302" cy="10.4819"
									r="5.35" stroke="white" stroke-width="1.8"></circle>
                            </g>
                        </svg>
							<span class="blind">검색</span>
						</button>
					</form>
					<ul class="navbar-nav ms-auto text-white">
						<!-- 로그인 버튼 -->
						<li class="nav-item" sec:authorize="isAnonymous()"><a
							class="btn mx-2 custom-btn-gray" th:href="@{/user/login}"
							role="button">로그인</a></li>

						<!-- 회원가입 버튼 -->
						<li class="nav-item" sec:authorize="isAnonymous()"><a
							class="btn mx-2 custom-btn-purple" th:href="@{/user/signup}"
							role="button">회원가입</a></li>

						<!-- 방송하기 버튼 -->
						<li class="nav-item" sec:authorize="isAuthenticated()">
							<form th:action="@{/broadcast/on}" method="post"
								style="margin-bottom: 0px;">
								<input type="text" th:name="${user.username}" class="d-none"
									th:value="${user.username}">
								<button type="submit" class="btn mx-2 custom-btn-purple">방송하기</button>
							</form>
						</li>

						<!-- 로그아웃 버튼 -->
						<li class="nav-item" sec:authorize="isAuthenticated()"><a
							class="btn mx-2 custom-btn-gray" th:href="@{/logout}"> <span
								th:text="${user.userNickname}"></span> 로그아웃
						</a></li>

						<!-- 드롭다운 메뉴 -->
						<li class="nav-item dropdown">
							<button class="btn dropdown-toggle me-3 profile-button"
								type="button" data-bs-toggle="dropdown" aria-expanded="false">
								<svg class="profile-icon" width="20" height="20"
									viewBox="0 0 20 20" focusable="false" aria-hidden="true">
                <path fill-rule="evenodd"
										d="M5 7a5 5 0 1 1 6.192 4.857A2 2 0 0 0 13 13h1a3 3 0 0 1 3 3v2h-2v-2a1 1 0 0 0-1-1h-1a3.99 3.99 0 0 1-3-1.354A3.99 3.99 0 0 1 7 15H6a1 1 0 0 0-1 1v2H3v-2a3 3 0 0 1 3-3h1a2 2 0 0 0 1.808-1.143A5.002 5.002 0 0 1 5 7zm5 3a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
										clip-rule="evenodd"></path>
            </svg>
							</button>
							<ul class="dropdown-menu dropdown-menu-end">
								<!-- 드롭다운 메뉴 항목 추가 -->
								<li>
									<div class="container mt-2">
										<div class="dark-theme-toggle d-flex align-items-center">
											<div class="form-check form-switch">
												<input class="form-check-input" type="checkbox"
													id="darkThemeToggle" checked> <label
													class="form-check-label fw-bold" for="darkThemeToggle">Dark</label>
												<svg width="20" height="20" version="1.1"
													viewBox="0 0 20 20" x="0px" y="0px"
													class="ScIconSVG-sc-1q25cff-1 jpczqG ms-2">
					                                <g>
					                                    <path fill-rule="evenodd"
														d="M8.614 2.134a8.001 8.001 0 001.388 15.879 8.003 8.003 0 007.884-6.635 6.947 6.947 0 01-2.884.62 7.004 7.004 0 01-6.388-9.864zM6.017 5.529a5.989 5.989 0 00-2.015 4.484c0 3.311 2.69 6 6 6a5.99 5.99 0 004.495-2.028 9.006 9.006 0 01-8.48-8.456z"
														clip-rule="evenodd"></path>
					                                </g>
					                            </svg>
											</div>
										</div>
									</div>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li sec:authorize="isAuthenticated()"><a
									class="dropdown-item" th:href="@{/logout}"> <i
										class="fas fa-sign-out-alt me-2"></i> <span
										th:text="${user.userNickname}"></span> 로그아웃
								</a></li>
								<li sec:authorize="!isAuthenticated()"><a
									class="dropdown-item" th:href="@{/user/login}"> <i
										class="fas fa-sign-in-alt me-2"></i> <span class="fw-bold">로그인</span>
								</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	
	<nav th:fragment="mysidebar" class="sidebar close">
		<header>
			<div class="image-text">
				<a href="/">
				<span class="image">
				<img src="https://getbootstrap.kr/docs/5.1/assets/brand/bootstrap-logo.svg"
						alt="Logo">
						</span>
				</a>
				<div class="text header-text">
					<span class="name">Spring Boot</span>
					<span class="profession">Streaming Site</span>
				</div>
			</div>
			
			<i class='bx bx-chevron-right toggle'></i>
		</header>
		
		
			<div class="menu-bar">
				<div class="menu">
					
					
				
					<ul class="menu-links">
						<li class="nav-link">
							<a href="/">
								<i class='bx bxs-home-heart icon'></i>
								<span class="text nav-text">Home</span>
							</a>
						</li>
						<li class="nav-link">
							<a href="#">
								<i class='bx bx-user-plus icon'></i>
								<span class="text nav-text">Follower</span>
							</a>
						</li>
						<li class="nav-link">
							<a href="#">
								<i class='bx bxl-youtube icon'></i>
								<span class="text nav-text">Rec Channels</span>
							</a>
						</li>
						<li class="nav-link">
							<a href="#">
								<i class='bx bxs-group icon'></i>
								<span class="text nav-text">Category</span>
							</a>
						</li>
						<li class="nav-link">
							<a href="#">
								<i class='bx bxs-video icon'></i>
								<span class="text nav-text">Live</span>
							</a>
						</li>
						
						<li class="nav-link">
							<a href="#">
								<i class='bx bx-broadcast icon'></i>
								<span class="text nav-text">Broadcast</span>
							</a>
						</li>
						
						<li class="nav-link">
							<a href="#">
								<i class='bx bx-book-reader icon'></i>
								<span class="text nav-text">Blog</span>
							</a>
						</li>
						
						<li class="nav-link">
							<a href="#">
								<i class='bx bx-cog icon'></i>
								<span class="text nav-text">Setting</span>
							</a>
						</li>
						
						
					</ul>
				</div>
				
				<div class="bottom-content">
				<li class="mode" sec:authorize="isAuthenticated()">
							<a th:href="@{/logout}">
								<i class='bx bx-log-out icon'></i>
								<span class="text nav-text">Logout</span>
							</a>
						</li>
				<li class="mode">
							<a th:href="@{/user/login}">
								<i class='bx bx-log-in icon'></i>
								<span class="text nav-text" style="margin-left: 60px;">Login</span>
							</a>
						</li>
				<li class="mode">
							<div class="moon-sun">
							<i class='bx bx-moon icon moon'></i>
							<i class='bx bx-sun icon sun'></i>
							</div>
							<span class="mode-text text">Dark Mode</span>
							
							<div class="toggle-switch">
								<span class="switch"></span>
							</div>
							
						</li>
				
				</div>
				
			</div>
			
		
	</nav>
	
	<section class="home">
		<div class="text">Dashboard</div>
	</section>



	<footer th:fragment="myfooter"
		class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="color: #18191a">
		<p class="col-md-4 mb-0" style="color: #ccc;">© 2024 Spring Boot ITWILL</p>

		<a href="/"
			class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
			<svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
		</a>

		<ul class="nav col-md-4 justify-content-end">
			<li class="nav-item"><a href="#"
				class="nav-link px-2" style="color: #ccc;">Home</a></li>
			<li class="nav-item"><a href="#"
				class="nav-link px-2" style="color: #ccc;">Features</a></li>
			<li class="nav-item"><a href="#"
				class="nav-link px-2" style="color: #ccc;">Pricing</a></li>
			<li class="nav-item"><a href="#"
				class="nav-link px-2 " style="color: #ccc;">FAQs</a></li>
			<li class="nav-item"><a href="#"
				class="nav-link px-2" style="color: #ccc;">About</a></li>
		</ul>
	</footer>











	  <script th:fragment="sidebar_js" src="/js/sidebar.js"></script>

	<script th:fragment="bootstrap_js"
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>

	<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>


</body>

</html>

