<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
<div class="logo">Your Logo</div>
<div class="fireworks"></div>
<div class="container">
    <form method="post" class="form">
        <h2>Sign Up Form</h2>
        <div class="inputBox">
            <input type="text" name="userName" placeholder="Username" required />
        </div>
        <div class="inputBox">
            <input type="password" name="userPassword" placeholder="Password" required />
        </div>
        <div class="inputBox">
            <input type="email" name="userEmail" placeholder="Email" />
        </div>
        <div class="inputBox">
            <input type="text" name="userNickname" placeholder="Nickname" />
        </div>
        <div class="inputBox">
            <input type="submit" value="Sign Up" />
        </div>
    </form>
</div>

<script th:replace="~{./layout/fragments :: bootstrap_js}"></script>
</body>

</html>