<!DOCTYPE html>
<html>
	<head th:replace="~{./layout/fragments :: myhead}"></head>
	<body>
        <div class="container">
            <main class="card card-body">
                <form method="post">
                         <div class="my-2">
                            <label class="form-label">사용자 아이디</label>
                            <input type="text" class="form-control"name="username" required/>
                        </div>
                        <div class="my-2">
                            <label class="form-label">비밀번호</label>
                            <input type="password" class="form-control" name="password" id="password" required/>
                        </div>
                        <div class="my-2">
                            <label class="form-label">이메일</label>
                            <input type="email" class="form-control" name="email" id="email"/>
                        </div>
                        <div class="my-2">
                            <label class="form-label">사용자 닉네임</label>
                            <input type="text" class="form-control" name="nickname"/>
                        </div>
                        <div class="my-2">
                            <input type="submit" class="form-control btn btn-success" value="계정생성"/>
                        </div>
                </form>
            </main>
        </div>

		<script th:replace="~{./layout/fragments :: bootstrap_js}"></script> 			
	</body>
</html>