@charset "UTF-8";

/* 네비게이션 링크 스타일 */
a.nav-link {
    font-weight: bold; /* 글꼴 굵기 설정 */
    transition: color 0.3s; /* 호버 시 글자색 전환 효과 */
}

a.nav-link:hover {
    color: #8a2be2 !important;
    /* 호버 시 글자색 변경 (연보라색), !important는 기존 스타일을 덮어쓰기 위해 사용 */
}

/* SVG에 적용되는 스타일 추가 */
.profile-icon path {
    fill: #ffffff; /* SVG의 색상을 흰색으로 변경 */
}


/* 커스텀 버튼 스타일 */
a.custom-btn-gray {
    background-color: #999999;
    color: #000000;
    border: none;
    border-radius: 12px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold; /* 텍스트 굵게 설정 */
    transition: background-color 0.3s, color 0.3s;
    /* 호버 시 배경색, 글자색 전환 효과 */
    text-decoration: none; /* 기본 텍스트 밑줄 제거 */
}

a.custom-btn-purple,
button.custom-btn-purple {
    background-color: #6633FF;
    color: #ffffff; /* 텍스트 색상을 흰색(#ffffff)으로 설정 */
    border: none;
    border-radius: 12px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s; /* 호버 시 배경색 전환 효과만 설정 */
    text-decoration: none;
}

a.custom-btn-gray:hover {
    background-color: #777777; /* 호버 시 배경색 변경 */
}

a.custom-btn-purple:hover,
button.custom-btn-purple:hover {
    background-color: #4D2599; /* 호버 시 배경색 변경 */
}

/* 검색 폼 스타일 */
form.d-flex {
    display: flex;
    align-items: center;
}

input.form-control {
    border-radius: 20px;
    border: 2px solid transparent; /* 투명한 테두리 */
    background-color: #242526; /* 밝은 검은색 배경색 */
    color: #dfe2ea; /* 폰트 색상 */
    padding: 8px;
    width: 300px; /* 입력창 가로 길이 조절 */
    transition: background-color 0.3s, border-color 0.3s;
    /* 포커스 시 배경색, 테두리 전환 효과 */
    margin-right: 10px; /* 마진 조절 */
}

input.form-control::placeholder {
    color: #7d8489; /* 플레이스홀더 색상 */
}

input.form-control:focus {
    background-color: #242526; /* 포커스 시 배경색 */
    border-color: #8a2be2; /* 포커스 시 테두리 색상 */
    color: #dfe2ea; /* 포커스 시 텍스트 색상 */
    outline: none; /* 포커스 효과 제거 */
}

button.btn-outline-success {
    border-radius: 20px;
    border: none;
    background-color: #242526; /* 배경색 */
    color: #dfe2ea; /* 폰트 색상 */
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s; /* 호버 시 배경색 전환 효과 */
}

button.btn-outline-success:hover {
    background-color: #8a2be2; /* 호버 시 배경색 */
}

svg {
    margin-right: 6px;
}

/* 스크린 리더용 숨김 텍스트 */
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* 네비게이션 배경색 */
nav.navbar {
    background-color: #141517;
}

/* 네비게이션 링크 색상 */
a.nav-link,
button.btn-secondary,
button.dropdown-toggle {
    color: #dfe2ea;
}
