<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="layout/fragments :: myhead"></head>

<body>

<header th:replace="layout/fragments :: myheader"></header>
<nav th:replace="layout/fragments :: mysidebar"></nav>

<section class="home">

<div class="container mt-5">
    <div>
    <h1 class="fw-bold text-start text-white">탐색</h1>
    </div>

    <!-- 카테고리 탭 -->
    <ul class="nav nav-tabs my-3" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="mostViewers-tab" data-bs-toggle="tab" href="#mostViewers" role="tab" aria-controls="mostViewers" aria-selected="true">시청 순</a>
        </li>
    </ul>

    <!-- 검색 입력 폼과 검색 결과 표시 컨테이너 -->
    <div class="row justify-content-end mb-5">
        <div class="col-4">
            <div class="input-group">
                <input type="text" id="searchKeyword" class="form-control" placeholder="카테고리 검색" />
                <button th:onclick="searchKeyword()" class="btn btn-primary">검색</button>
            </div>
        </div>
    </div>
    <div id="searchResults" class="row"></div>

    <!-- 카테고리 탭 내용 -->
    <div class="tab-content">
        <div class="tab-pane fade show active" id="mostViewers" role="tabpanel">
            <div class="row">
                <div th:each="mostViewers, iterStat : ${mostViewers}" class="col-lg-2 col-md-4 mb-4">
                    <div class="card category-card">
                        <a th:href="@{/categories/{categoryId}(categoryId=${mostViewers.categoryId})}" class="card-link text-decoration-none text-white">
                            <img th:src="${mostViewers.categoryImageUrl}" class="card-img-top img-fluid" alt="Category Image">
                            <div class="card-body">
                                <h5 class="card-title category-title text-left text-black text-truncate fs-5" th:text="${mostViewers.categoryName}">Category Name</h5>
                                <h5 class="card-title category-title text-left text-black text-truncate fs-6" th:text="${mostViewers.categoryTotalView != null ? '시청자 ' + mostViewers.categoryTotalView + '명' : '시청자 0명'}"></h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/fragments :: myfooter"></footer>
</section>

<script th:replace="~{layout/fragments :: bootstrap_js}"></script>
<script th:replace="~{layout/fragments :: sidebar_js}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/categories-search.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/broadcast.js"></script>
</body>
</html>