<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Insert title here</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.kr/docs/5.3/examples/footers/">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.15.0/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/sidebar.css" >
  <link rel="stylesheet" href="/css/nav.css" >
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <script src="https://kit.fontawesome.com/1306328925.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/nav.css" >
  <link rel="stylesheet" href="/css/switch.css" >
  <style>
    .flex-right {
      margin-left: auto;
    }
          
    .cnter {
      display: grid;
      grid-template-columns: 1fr 5.5fr 1.5fr;
      height: (100vh - 62px);
    }
    .void {
      height: 62px;
    }
    nav.fixed-top {
      max-height: 62px;
      overflow: hidden;
      flex-wrap: nowrap;
    }
    ul.nav {
      overflow: hidden;
      flex-wrap: nowrap;
    }
    .chat-container {
      position: fixed;
      height: 100%;
      width: 1.5fr;
      overflow-y: auto; /* 채팅창이 내용을 넘어갈 경우 스크롤 표시 */
      word-break: break-all;
      flex-direction: column;
      justify-content: flex-end;
    }
    .scrollbarContainer::-webkit-scrollbar {
      display: none;
    }

    .cnter-item {
        height: 100vh;
        
    }
    
    input.content {
      margin-top: auto;
    }
    .scrollbarContainer {
      height: calc(85vh);
      overflow-y: scroll;
    }
    .flexAndBetween {
        display: flex;
        justify-content: space-between;
    }
  </style>
</head>
<body>
<div th:replace="~{layout/fragments :: myheader}"></div>
<div class="void" >
    <input class="dummy"d-none th:value="${channel.channelId}" font-data="medium" auth-data="">
</div>
<main class="cnter">
  <div class="cnter-item">
    <div class="container">
      <div id="followList"></div>
    </div>
  </div>
  <div class="cnter-item">
    <!-- 스트리밍 플레이어 추가 -->
    <div class="video-container">
      <video id="video" controls autoplay></video>
    </div>

    <script th:inline="javascript">
      /*<![CDATA[*/
      const videoSrc = [[${streamingUrl}]]; // 서버로부터 받은 스트리밍 URL
      const video = document.getElementById('video');

      if(Hls.isSupported()) {
        const hls = new Hls();
        hls.loadSource(videoSrc);
        hls.attachMedia(video);
      } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = videoSrc;
      }
      /*]]>*/
    </script>
    <!-- 로그인 정보 확인하기(테스트용) // TODO: 나중에 감춰야합니다.-->
    <input class="form-control d-none" id="authentication" th:value="${#authentication != null ? #authentication.name : null}" />
    <input class="d-none" id="channelUserId" th:value="${streamer.userId}" />
    <input class="d-none" id="channelUserNickname" th:value="${streamer.userNickname}" />
    <input class="d-none" id="loginUserId" th:value="${userAccount.userId}"/>

    <div class="row">
      <p>팔로워 : <span id="countByFollower"></span></p>
      <div id="followerList"></div>

      <div class="col-md-6 offset-md-5">
        <div class="d-flex justify-content-end">
          <button id="followBtn" type="button" class="btn btn-dark d-none" onclick="follow()">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.0198 6.77894C8.94243 3.98296 3.5 4.39829 3.5 8.6267C3.5 10.6135 4.97427 13.2199 9.20416 15.9063C9.30036 15.9674 9.6265 16.1413 10 16.1427C10.3735 16.1442 10.6793 15.9801 10.7622 15.9276C15.0179 13.2337 16.5 10.6188 16.5 8.6267C16.5 4.42263 11.1031 3.96638 10.0198 6.77894Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linejoin="round"></path>
            </svg>
            팔로우 등록
          </button>

          <button id="unfollowBtn" type="button" class="btn btn-dark d-none" onclick="unfollow()">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.0198 6.77894C8.94243 3.98296 3.5 4.39829 3.5 8.6267C3.5 10.6135 4.97427 13.2199 9.20416 15.9063C9.30036 15.9674 9.6265 16.1413 10 16.1427C10.3735 16.1442 10.6793 15.9801 10.7622 15.9276C15.0179 13.2337 16.5 10.6188 16.5 8.6267C16.5 4.42263 11.1031 3.96638 10.0198 6.77894Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linejoin="round"></path>
            </svg>
            팔로우 취소
          </button>
        </div>
      </div>
    </div>

  </div>


<div class="cnter-item">
    <div class="chat-container">
        <div class="scrollbarContainer">
            <span>메세지</span>
            <div class="msgArea"></div>
        </div>
        <div class="input-group input-group-sm">
            <textarea type="text" placeholder="보낼 메세지를 입력하세요." class="form-control content" rows="2" style="margin-bottom: 5px;" maxlength="1000"></textarea>
        </div>
        <div class="flexAndBetween">
            <input class="chatState" style="display: none;" th:value="${chatState}">
            <div class="dropup">
                <button type="button" class="btn btn-sm" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    <svg width="20" height="20" viewBox="0 0 20 20" focusable="false" aria-hidden="true" role="presentation" style="margin-right: 0%;">
                        <path d="M10 8a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"></path>
                        <path fill-rule="evenodd" d="M9 2h2a2.01 2.01 0 0 0 1.235 1.855l.53.22a2.01 
                        2.01 0 0 0 2.185-.439l1.414 1.414a2.01 2.01 0 0 0-.439 2.185l.22.53A2.01 2.01 
                        0 0 0 18 9v2a2.01 2.01 0 0 0-1.855 1.235l-.22.53a2.01 2.01 0 0 0 .44 2.185l-1.415 
                        1.414a2.01 2.01 0 0 0-2.184-.439l-.531.22A2.01 2.01 0 0 0 11 18H9a2.01 2.01 0 0 
                        0-1.235-1.854l-.53-.22a2.009 2.009 0 0 0-2.185.438L3.636 14.95a2.009 2.009 0 0 
                        0 .438-2.184l-.22-.531A2.01 2.01 0 0 0 2 11V9c.809 0 1.545-.487 1.854-1.235l.22-.53a2.009 
                        2.009 0 0 0-.438-2.185L5.05 3.636a2.01 2.01 0 0 0 2.185.438l.53-.22A2.01 2.01 0 0 0 9 
                        2zm-4 8 1.464 3.536L10 15l3.535-1.464L15 10l-1.465-3.536L10 5 6.464 6.464 5 10z" clip-rule="evenodd"></path>
                    </svg>
                </button>
                <ul class="dropdown-menu" style="width: 15vw">
                    <th:block th:if="${userAccount.userId == streamer.userId}">
                        <li class="tmtm">
                            <div class="wrapper flexAndBetween">
                                <span style="font-size: small; padding-top: 4px;">팔로워 챗 활성화</span>
                                <input type="checkbox" id="switch1">
                                <label for="switch1" class="switch_label">
                                    <span class="onf_btn"></span>
                                </label>
                            </div>
                        </li>
                        <li class="tmtm">
                            <div class="wrapper flexAndBetween">
                                <span style="font-size: small; padding-top: 4px;">익명채팅</span>
                                <input type="checkbox" id="switch2">
                                <label for="switch2" class="switch_label">
                                    <span class="onf_btn"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="wrapper flexAndBetween">
                                <span style="font-size: small; padding-top: 4px;">스트리머만 채팅 (얼리기)</span>
                                <input type="checkbox" id="switch3">
                                <label for="switch3" class="switch_label">
                                    <span class="onf_btn"></span>
                                </label>
                            </div>
                        </li>
                    </th:block>
                        <li>
                            <div class="wrapper flexAndBetween">
                                <span style="font-size: small; padding-top: 6px;">폰트 크기 조절</span>
                                <div class="dropup">
                                    <button type="button" class="btn btn-sm" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                        <svg width="20" height="20" viewBox="0 0 20 20" focusable="false" aria-hidden="true" role="presentation" style="margin-right: 0%;">
                                            <path d="M10 8a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"></path>
                                            <path fill-rule="evenodd" d="M9 2h2a2.01 2.01 0 0 0 1.235 1.855l.53.22a2.01 
                                            2.01 0 0 0 2.185-.439l1.414 1.414a2.01 2.01 0 0 0-.439 2.185l.22.53A2.01 2.01 
                                            0 0 0 18 9v2a2.01 2.01 0 0 0-1.855 1.235l-.22.53a2.01 2.01 0 0 0 .44 2.185l-1.415 
                                            1.414a2.01 2.01 0 0 0-2.184-.439l-.531.22A2.01 2.01 0 0 0 11 18H9a2.01 2.01 0 0 
                                            0-1.235-1.854l-.53-.22a2.009 2.009 0 0 0-2.185.438L3.636 14.95a2.009 2.009 0 0 
                                            0 .438-2.184l-.22-.531A2.01 2.01 0 0 0 2 11V9c.809 0 1.545-.487 1.854-1.235l.22-.53a2.009 
                                            2.009 0 0 0-.438-2.185L5.05 3.636a2.01 2.01 0 0 0 2.185.438l.53-.22A2.01 2.01 0 0 0 9 
                                            2zm-4 8 1.464 3.536L10 15l3.535-1.464L15 10l-1.465-3.536L10 5 6.464 6.464 5 10z" clip-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item" style="font-size: xx-large;" id="XXL">
                                            <span>노인네 사이즈</span>
                                        </li>
                                        <li class="dropdown-item" style="font-size: x-large;" id="XL">
                                            <span>아주 크게</span>
                                        </li>
                                        <li class="dropdown-item" style="font-size: large;" id="L">
                                            <span>크게</span>
                                        </li>
                                        <li class="dropdown-item" style="font-size: medium;" id="M">
                                            <span>중간</span>
                                        </li>
                                        <li class="dropdown-item" style="font-size: small;" id="S">
                                            <span>작게</span>
                                        </li>
                                        <li class="dropdown-item" style="font-size: x-small;" id="XS">
                                            <span>아주 작게</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="wrapper flexAndBetween">
                                <span style="font-size: small; padding-top: 2px;">스트리머만 채팅 (얼리기)</span>
                                <input type="checkbox" id="switch5">
                                <label for="switch5" class="switch_label">
                                    <span class="onf_btn"></span>
                                </label>
                            </div>
                        </li>
                </ul>
            </div>
            <button type="button" class="sendBtn btn btn-sm text-white flex-right" 
                style="background-color: blueviolet; margin-left: auto;" onclick="sendMsg()">전송</button>
        </div>
    </div>
</div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/switch.js"></script>
<script th:inline="javascript">
    
    window.addEventListener("DOMContentLoaded", loadUserAuth());

    function loadUserAuth() {
        
        let userNickname = [[${userAccount.userNickname}]]; 
        let channelId = [[${channel.channelId}]];
        
        axios.get('/api/user/auth', { params: { channelId: channelId } })
                    .then((response) => {
                        let data = response.data;
                        
                        const element = document.querySelector('.dummy');
                        
                        element.setAttribute('auth-data', data);
                        
                    })
                    .catch((error) => {
                        console.log(error);
                    });
    }
    
    const channelId = document.querySelector('.dummy').value;
    
    // 현재 폰트 설정
    let element = document.querySelector('.dummy');
    

    // 폰트 선택
    const fontXxl = document.querySelector('#XXL');
    const fontXl = document.querySelector('#XL');
    const fontL = document.querySelector('#L');
    const fontM = document.querySelector('#M');
    const fontXs = document.querySelector('#XS');
    const fontS = document.querySelector('#S');
    
    fontXxl.addEventListener('click', function() {
        let chat = document.querySelectorAll('.chat');
        chat.forEach(x => x.style.fontSize = 'xx-large'); 
        element.setAttribute('font-data', 'xx-large');  
    });
    fontXl.addEventListener('click', function() {
        let chat = document.querySelectorAll('.chat');
        chat.forEach(x => x.style.fontSize = 'x-large');
        element.setAttribute('font-data', 'x-large');   
    });
    fontL.addEventListener('click', function() {
        let chat = document.querySelectorAll('.chat');
        chat.forEach(x => x.style.fontSize = 'large');
        element.setAttribute('font-data', 'large');   
    });
    fontM.addEventListener('click', function() {
        let chat = document.querySelectorAll('.chat');
        chat.forEach(x => x.style.fontSize = 'medium'); 
        element.setAttribute('font-data', 'medium');  
    });
    fontS.addEventListener('click', function() {
        let chat = document.querySelectorAll('.chat');
        chat.forEach(x => x.style.fontSize = 'small');
        element.setAttribute('font-data', 'small'); 
    });
    fontXs.addEventListener('click', function() {
        let chat = document.querySelectorAll('.chat');
        chat.forEach(x => x.style.fontSize = 'x-small');
        element.setAttribute('font-data', 'x-small');   
    });
    
    function enterRoom(socket){
        var enterMsg={"type" : "ENTER", 
                    "userType" : [[${userState}]],
                    "veiwers" : 0, 
                    "roomId":[[${room.roomId}]], 
                    "sender":[[${userAccount.userNickname}]],
                    "message":""};
        console.log(enterMsg);
        socket.send(JSON.stringify(enterMsg));
        let user = [[${userAccount.userNickname}]];
        let entMsg = user + "님 환영합니다! BEEP!! BEEP!! BEEP!!"
        let msgArea = document.querySelector('.msgArea');
        let newMsg = document.createElement('div');
        if(user !== 'anonymousUser') {
            newMsg.innerText = entMsg;
            msgArea.append(newMsg);    
        } else if(user === 'anonymousUser') {
            newMsg.innerText = [[${streamer.userNickname}]] + "님의 방송에 오신 것을 환영합니다!"
            msgArea.append(newMsg);
        }
    }
    
    let socket = new WebSocket("ws://192.168.20.26:8081/ws/chat");

    socket.onopen = function (e) {
        console.log('open server!')
        enterRoom(socket);
    }
    
    socket.onclose = function(e){
        console.log('disconnet');
    }

    socket.onerror = function (e){
        console.log(e);
    }

    function updateScroll() {
        var scroll = document.querySelector('.scrollbarContainer');
        scroll.scrollTop = scroll.scrollHeight;
    }
    
    let chatNo = 0;
    
    //메세지 수신했을 때 이벤트.
    socket.onmessage = function (e) {
        chatNo += 1;
        
        console.log(e.data);
        console.log(chatNo);
        let msgArea = document.querySelector('.msgArea');
        let newMsg = document.createElement('div');

        let fontData = element.getAttribute('font-data');
        newMsg.className = 'chat';
        newMsg.style = 'display: flex;';
        
        if(fontData === 'xx-large') {
            newMsg.style.fontSize = 'xx-large'
        } else if(fontData === 'x-large') {
            newMsg.style.fontSize = 'x-large'
        } else if(fontData === 'large') {
            newMsg.style.fontSize = 'large'
        } else if(fontData === 'medium') {
            newMsg.style.fontSize = 'medium'
        } else if(fontData === 'small') {
            newMsg.style.fontSize = 'small'
        } else if(fontData === 'x-small') {
            newMsg.style.fontSize = 'x-small'
        }
        //JSON.parse()는 JSON 문자열을 javascript 리터럴 객체 혹은 배열로 변환함
        let message = JSON.parse(e.data);
        
        if(message.sender === [[${streamer.userNickname}]] && message.message === [[${userAccount.userNickname}]] + '님이 매니저로 임명되었습니다.') {
            loadUserAuth();
        } else if (message.sender === [[${streamer.userNickname}]] && message.message === [[${userAccount.userNickname}]] + '님이 매니저에서 해임되었습니다.') {
            loadUserAuth();
        }
        
        let elemental = document.querySelector('.dummy');
        let userAuth = elemental.getAttribute('auth-data');
        
        let sender = `
        <div class="dropdown">
            <span data-bs-toggle="dropdown" aria-expanded="false" class="chat btn btn-link" 
            style="color: black; text-decoration: none; padding: 0px; border: 0px; margin-bottom: 3px;">
                ${message.sender}
            </span>
            <ul class="dropdown-menu">
                <li>
                    <span class="dropdown-item chat ban" data-id="${message.sender}" id=${chatNo}>
                        너 밴
                    </span>
                </li>`;
        if([[${userAccount.userNickname}]] === [[${streamer.userNickname}]] && message.userType === 'MANAGER') {
            sender += 
                `<li>
                    <span class="dropdown-item chat managerRevoke" data-id="${message.sender}" id=${chatNo}>
                        매니저 권한 취소
                    </span>
                </li>`;
        }
        if([[${userAccount.userNickname}]] === [[${streamer.userNickname}]] && message.userType !== 'MANAGER') {
            sender += 
                `<li>
                    <span class="dropdown-item chat manager" data-id="${message.sender}" id=${chatNo}>
                        너 매니저
                    </span>
                </li>`;
        }
        sender += 
        `   </ul>             
        </div>`;
        
        // sender가 해당 채널의 스트리머일 경우 강조해서 표시
        if(message.sender === [[${streamer.userNickname}]]) {
            newMsg.innerHTML = '👑' + '<strong>' + message.sender + ':' + message.message + '</strong>';        
        } else if (message.userType === "MANAGER") {
            
            if ([[${streamer.userNickname}]] === [[${userAccount.userNickname}]]) {
                newMsg.innerHTML = '⚔' + sender + ':' + message.message;                
            } else {
                newMsg.innerHTML = '⚔' + message.sender + ':' + message.message;
            }
            
        } else if(message.userType === "FOLLOW") { // 팔로워일 경우 채팅 변경
        
            if ([[${streamer.userNickname}]] === [[${userAccount.userNickname}]] || userAuth === 'MANAGER') {
                newMsg.innerHTML = '👍︎' + sender + ':' + message.message;                
            } else {
                newMsg.innerHTML = '👍︎' + message.sender + ':' + message.message;
            }
            
        } else if(message.userType === "NON_FOLLOW") {
            
            if ([[${streamer.userNickname}]] === [[${userAccount.userNickname}]] || userAuth === 'MANAGER') {
                newMsg.innerHTML = sender + ':' + message.message;                
            } else {
                newMsg.innerHTML = message.sender + ':' + message.message;
            }
             
        } else if(message.userType === "ANONYMOUS") {
            newMsg.innerHTML = message.sender + ':' + message.message;  
        }
        
        if(message.type === 'TALK') {
          msgArea.append(newMsg);
        }

        updateScroll();
        
        let banUser = document.querySelector(`span.ban[id="${chatNo}"]`);
        if (banUser !== null) {            
            banUser.addEventListener('click', function ban() {
                let auth = elemental.getAttribute('auth-data');
                
                if(auth === 'MANAGER' || [[${streamer.userNickname}]] === [[${userAccount.userNickname}]]) {
                    
                    let userNickname = banUser.getAttribute('data-id');
                    
                    const data = { userNickname, channelId };
                    
                    axios.post('/api/user/ban', data)
                    .then((response) => {
                        console.log(response);
                        let userNickname = banUser.getAttribute('data-id');
                        document.querySelector('.content').value = userNickname + '님이 밴 되었습니다.';
                        sendMsg();
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                    
                }
                
                
            });
        }
        
        let manager = document.querySelector(`span.manager[id="${chatNo}"]`)
        if (manager !== null) {            
            manager.addEventListener('click', function() {
                let userNickname = manager.getAttribute('data-id');
                
                const data = { userNickname, channelId };
               
                axios.post('/api/user/manager', data)
                .then((response) => {
                    console.log(response);
                    let userNickname = manager.getAttribute('data-id');
                    document.querySelector('.content').value = userNickname + '님이 매니저로 임명되었습니다.';
                    sendMsg();
                })
                .catch((error) => {
                    console.log(error);
                });
                
            });
        }
        
        let managerRevoke = document.querySelector(`span.managerRevoke[id="${chatNo}"]`)
        if (managerRevoke !== null) {            
            managerRevoke.addEventListener('click', function() {
                let userNickname = managerRevoke.getAttribute('data-id');
                
                const data = { userNickname, channelId };
               
                axios.post('/api/user/managerRevoke', data)
                .then((response) => {
                    console.log(response);
                    let userNickname = managerRevoke.getAttribute('data-id');
                    document.querySelector('.content').value = userNickname + '님이 매니저에서 해임되었습니다.';
                    sendMsg();
                })
                .catch((error) => {
                    console.log(error);
                });
                
            });
        }
        
    }
    

    document.addEventListener('keydown', function(event) {
        if (event.keyCode === 13) {
            event.preventDefault(); // 기본 Enter 행동 막기 (폼 전송 등)
            sendMsg();
        }
    });
    
    //메세지 보내기 버튼 눌렀을 떄..
    function sendMsg() {
        let content=document.querySelector('.content').value;
        if(content === '') {
            return;
        }
        
        const uri = '/api/chat/chatState/' + channelId;
        
        axios.get(uri)
        .then((response) => {
            let data = response.data;
            let userId = [[${userAccount.userNickname}]];
            let userType = data.userType;
         
            if (userType === 'BAN') {
                document.querySelector('.content').value = '해당 방송에서 채팅 권한을 박달당하셨습니다. ㅠㅠ';
                return;
            } else if([[${userAccount.userNickname}]] === 'anonymousUser' && data.chatState !== '[ANONYMOUS]'){
                document.querySelector('.content').value = '채팅은 로그인 이후 이용하실 수 있습니다.';
                return;
            } else if(userType === 'NON_FOLLOW' && data.chatState === '[FOLLOW]') {
                document.querySelector('.content').value = '현재 채팅방에 팔로우챗이 적용되고 있습니다.';
                return;
            } else if(userType !== 'STREAMER' && data.chatState === '[STREAMER_ONLY]') {
                document.querySelector('.content').value = '현재 채팅방에 스트리머챗이 적용되고 있습니다.';
                return;
            }
        
            var talkMsg = {
                    "type" : "TALK",
                    "userType" : userType,
                    "roomId":[[${room.roomId}]],
                    "sender": userId,
                    "message":content};
            //JSON.stringify(quitMsg) -> json 형식으로 데이터를 전송하기 위해서 문자열로 변환하는 메서드.
            socket.send(JSON.stringify(talkMsg));
        
            document.querySelector('.content').value = '';
        })
        .catch((error) => {
            console.log(error);
        });
    }

    window.addEventListener('beforeunload', handlePageUnload);

    function quit(){
        var quitMsg={"type" : "QUIT", 
                    "userType" : [[${userState}]], 
                    "roomId":[[${room.roomId}]] ,
                    "sender":[[${userAccount.userNickname}]],
                    "message":""};
        //JSON.stringify(quitMsg) -> json 형식으로 데이터를 전송하기 위해서 문자열로 변환하는 메서드.
        socket.send(JSON.stringify(quitMsg));
        socket.close();
        location.href="/";
    }

    function handlePageUnload() {
        quit();
    }


</script>
<script th:inline="javascript">
  const authentication = /*[[${#authentication.name}]]*/ null;
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/follow.js"></script>
<script src="/js/broadcast.js"></script>
</body>
</html>