<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{layout/fragments :: myhead}"></head>

<body>

<header th:replace="~{layout/fragments :: myheader}"></header>

<nav th:replace="~{layout/fragments :: mysidebar}"></nav>
<section class="home">
    <div style="height: 1rem;"></div>
    <div class="container mt-5">
        <div class="card">
            <form th:action="@{/setting/channel}" method="post">
                <div class="my-2 mx-3" style="justify-content: flex-start;">
                    <div style="text-align: left">
                        <span style="font-size: x-large;">
                            제목                           
                        </span>
                    </div>
                    <input class="form-control" type="text" name="title" th:placeholder="${channel.channelTitle}" required/>
                </div>
                <div class="my-2 mx-3">
                    <div style="text-align: left">
                        <span style="font-size: x-large;">
                            방송내용                           
                        </span>
                    </div>
                    <textarea class="form-control" th:placeholder="${channel.channelContent}"></textarea>
                </div>
                <div class="my-2 mx-3">
                    <div style="text-align: left">
                        <span style="font-size: x-large;">
                            카테고리                           
                        </span>
                    </div>
                    <input class="form-control" type="text" id="categoryInput2" placeholder="Just chatting">                   
                    <!-- 검색된 카테고리 목록을 표시할 div -->
                    <div id="categoryList2"></div>
                    <input type="hidden" name="categoryId2" id="categoryId2" value=""> <!-- 숨겨진 입력 필드 -->
                    <input type="text" name="channelId2" class="d-none" th:value="${channel != null ? channel.channelId : ''}">  
                </div>
            </form>
        </div>
    </div>
</section>

<div th:replace="~{layout/fragments :: myModal}"></div>

<script th:replace="~{layout/fragments :: sidebar_js}"></script>
<script th:replace="~{layout/fragments :: bootstrap_js}"></script>
<script src="/js/broadcast.js"></script>
<script src="/js/fragments-categories-search.js"></script>
<script src="/js/fragments-categories-search2.js"></script>
</body>

</html>